*{
    overflow-X: hidden;
}
.background{
    background-image: url("../media/x1.jpg");
    z-index: 3;
}
.hamburger-icon{
    background: white;
}
.hamburger-icon::before{
    background: white;
}
.hamburger-icon::after{
    background: white;
}
.hamburger-icon-rotate{
	background:rgba(0,0,0,0);
}
.main-container{
    font-family: 'Electrolize', sans-serif;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.main-text h1{
    font-size: 6vw;
    background: rgba(75, 74, 74, 0.4);
    margin-bottom: 50px;
}
@keyframes letter-color-changer{
    0%{color: white;}
    50% {box-shadow: -1px -2px 58px 10px rgba(235,12,12,0.63);}
    100%{color: white;}
}
.letter-decoration{
    /* color: red; */
    font-weight: bold;
    animation-iteration-count: infinite;
    animation-name: letter-color-changer;
    animation-duration: 2500ms;
}
.submain-text{
    height: 300px;
}
.submain-text h2{
    margin: 0 auto;
    font-size: 3vw;
}
@media screen and (max-width: 767px){
    .main-text h1{
        font-size: 6vh;
    }
    .submain-text h2{
        font-size: 3vh;
    }
}
.baner-container{
    min-height: 90vh;
    background: white;
    position: relative;
}
.baner-container::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-top: 90vh solid rgba(0, 0, 0, 0.3);
    filter: blur(10px);
    border-right: 100vw solid transparent;
}
.baner-header{
    z-index: 2;
    position: relative;
    text-align: center;
}
.baner-header h2{
    color: black;
    font-weight: bold;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.baner-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}
.slider{
    width: 700px;
    z-index: 2;
    border: 3px solid black;
    box-shadow: 0px 9px 26px -2px rgba(0,0,0,0.75);
}
.navigation-tools{
    color: rgba(158, 158, 158, 1);
    z-index: 2;
}
.navigation-tools:hover{
    color: rgba(201, 201, 201, 9);
    cursor: pointer;
}
.fa-arrow-left{
    font-size: 40px;
    padding-right: 20px;
}
.fa-arrow-right{
    font-size: 40px;
    padding-left: 20px;
}
.name-slider{
    text-align: center;
    padding: 30px 0  0;
    position: relative;
    z-index: 2;
}
.name-header{
    padding: 10px 0px 30px 0px;
}
.quote{
    padding: 5px 20px 80px 20px;
}
.slider-tittle{
    background: black;
}
.slider-tittle h3{
    margin: 0px;
    padding: 30px;
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    background: black;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.slider-container{
    background: white;
    position: relative;
    height: 400px;
}
.slider-container > *{
    display: block;
    position: absolute;
    height: 300px;
    top: 0;
    right: 100%;
    background: white;
    animation: slide 12s infinite;
}
.slide2{
    animation-delay: 4s;
}
.slide3{
    animation-delay: 8s;
}
@keyframes slide{
    0% {right: -50%;}
    50% {right: 50%; transform: translateX(50%);}
    100% {right: 150%;}
}
.timeline-container{
    min-height: 1000px;
    background: black;
    position: relative;
}
.timeline-container::before{
    content: '';
    position: absolute;
    width: 3px;
    height: calc(100% - 20px);
    top: 20px;
    left: 50%;
    background: white;
}
.timeline-container-left{
    left: 0;
    position: relative;
    min-height: 300px;
    width: 50%;
    padding: 10px 80px;
}
.timeline-container-left::after{
    content:'';
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: white;
    position: absolute;
    top:0;
    right: -15px;
    
}
.timeline-content{
    background: rgba(75, 74, 74, 0.4);
    border-radius: 5px;
    color: white;
    padding: 20px;
    position: relative;
}
.timeline-content h4{
    font-weight: bold;
}
.timeline-container-right{
    left: 50%;
    position: relative;
    min-height: 300px;
    width: 50%;
    padding: 10px 50px;
}
.timeline-container-right::after{
    content:'';
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: white;
    position: absolute;
    top: 0;
    left: -15px;
    
}
