*{
	font-family: 'Raleway', sans-serif;
	list-style-type: none;
	scroll-behavior: smooth;
}
html, body{
	padding: 0;
	margin: 0;
}
a{
	position: relative;
	top: 0;
	transition: 0.3s;
}
a:link,
a:visited{
	text-decoration: none;
	color: white;
}
a:hover{
	color: rgba(#fff, 0.1);
}
/* background na główną stronę */

.background{
	background-image: url("../media/motorcycle.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	filter: blur(4px);
	z-index: 1;
}
.header{
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: gray;
	overflow: hidden;
}
.header-container{
	display: flex;
	flex-wrap: no-wrap;
	justify-content: space-around;
	align-items: center;
	height: 100px;
}
.col-logo{
	width: 100px;
	z-index: 2;
}
.col-logo img{
	height: 50px;
	width: auto;
}
.col-hamburger-icon{
	display: flex;
	width: 100px;
	height: 100px;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	z-index: 4;
}
.hamburger-icon{
	width: 50px;
	height: 4px;
	background: black;
	transition: 0.5s;
}
.hamburger-icon::before{
	content:'';
	position: absolute;
	background: black;
	width: 50px;
	height: 4px;
	top: 35px;
	transition: 0.5s ease;
}
.hamburger-icon::after{
	content:'';
	position: absolute;
	background: black;
	width: 50px;
	height: 4px;
	bottom: 35px;
	transition: 0.5s;
}
.hamburger-icon-rotate{
	background:rgba(0,0,0,0);
}
.hamburger-icon-rotate::before{
	top: 50px;
	transform: rotate(45deg);
}
.hamburger-icon-rotate::after{
	top:50px;
	transform: rotate(135deg);
}
.hamburger-menu{
	position: absolute;
	height: 100vh;
	left: 100%;
	right: 0;
	top: 0; 
	display: flex;
	align-self: center;
	transition: 1s ease-out;
	z-index: 3;
}
.hamburger-slide{
	left: 0;
	/* background-color: rgba(209,209,209,0.72); */
	background-color: rgba(75, 74, 74, 0.6);
}
.hamburger-menu ul{
	margin: auto;
	transition: 5s ease-out;
	padding: 0px;
}
.menu-item{
	text-align: center;
	position: relative;
	right: -100%;
	font-size: 3vw;
	padding: 10px;
	margin: 30px;
	cursor: pointer;
	color: #fff;
	white-space: nowrap;
	transition: .5s all;
	background: rgba(75, 74, 74, 0.9);
}
.menu-item:hover{
	opacity: 1.5;
	background: rgba(75, 74, 74, 1);
	box-shadow: 47px -15px 71px -6px rgba(122,112,122,0.76);
	
}
.slide-item{
	right: 0;
}
@media screen and (max-width: 768px){
	.menu-item{
		font-size: 4vw;
	}
}

/* Content na stronie głównej */
.col-socialmedia{
	position: absolute;
	top: 40%;
	left: 30px;
	color: white;
	z-index: 2;	
	background: rgba(75, 74, 74, 0.3);
	text-align: center;
	z-index: 3;
}
.col-socialmedia-items{
	padding: 20px 10px;
}
.col-socialmedia-items i{
	font-size: 25px;
}

.content-header{
	font-family: 'Electrolize', sans-serif;
	position: absolute;
	top: 30%;
	left: 20%;
	z-index: 2;
	color: #fff;
	background: rgba(75, 74, 74, 0.4);
}
.content-header h1{
	font-size: 100px;
}
.content-subheader{
	font-family: 'Electrolize', sans-serif;
	position: absolute;
	top: 50%;
	left: 20%;
	z-index: 2;
	color: #fff;
	background: rgba(75, 74, 74, 0.4);
}
.content-subheader h2{
	font-size: 70px;
}
@media screen and (min-width: 500px) and (max-width: 860px){
	.content-header h1{
		font-size: 70px;
	}
	.content-subheader h2{
		font-size: 40px;
	}
}
@media screen and (max-width: 499px){
	.content-header{
		left: 50%;
		transform: translateX(-50%);
	}
	.content-header h1{
		font-size: 40px;
	}
	.content-subheader{
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		
	}
	.content-subheader h2{
		font-size: 20px;
	}
}
.space{
	padding: 100px 0px 100px 0px;
}

	